extends layout.pug

include utils.pug

append head
    script(src="/javascripts/questions.js" type="module" defer)

block content
    div
        h2(id=`question-${question.id}`) #{question.title}
        p asked at #{question.created_at}
        button: a(href='./new') New Question
    div
        p #{question.body}
        if loggedInUser.id === question.userId
            div
                 button: a(href=`./${question.id}/edit`) Edit
                 a(href=`/questions/${id}/delete`) Delete

    div(id="answerId")
        p(value="0") #{answers.length} answer
        //- add the correct starting count for each question!!



    div(id="answer")
        each answer in answers
            div(id=`answer-card-${answer.id}`)
                //- button: a(//- VOTE ROUTING -//) Upvote Answer
                //- p: #{answer.answerScore}
                //- button: a(//- VOTE ROUTING -//) Downvote Answer
                p answered at #{answer.created_at}
                p #{answer.body}
                if loggedInUser.id === answer.userId
                    div(id='button-card')
                        button: a(id=`edit-a-${answer.id}`) Edit Answer
                        button: a(id=`delete-a-${answer.id}`) Delete Answer
                //- if answer.user_id == //-TODO: CURRENT USER FROM SESSION
                    button: a(href='questions/#{question.id}/answers/#{answer.id}/edit') Edit Answer
                    button: a(href='questions/#{question.id}/answers/#{answer.id}/delete') Delete Answer
    div
        p Your Answer
        form(action='')
            +textarea('Body', 'body', body)
            button(id=`submit-answer`) New Answer
