extends layout.pug

include utils.pug

append head
    script(src="/javascripts/questions.js" type="module" defer)

block content
    div
        h2 #{question.title}
        p asked at #{question.created_at}
        button: a(href='questions/question-form') New Question
    div
        p #{question.body}
        //- if question.userId == //-TODO: CURRENT USER FROM SESSION

    div(id="answerId")
        p(value="0") #{answers.length} answer
        //- add the correct starting count for each question!!

        //- p #{answers.length} answers

    div(id="answer")
        each answer in answers
            div
                //- button: a(//- VOTE ROUTING -//) Upvote Answer
                //- p: #{answer.answerScore}
                //- button: a(//- VOTE ROUTING -//) Downvote Answer
                p answered at #{answer.created_at}
                p #{answer.body}
                //- if answer.user_id == //-TODO: CURRENT USER FROM SESSION
                    button: a(href='questions/#{question.id}/answers/#{answer.id}/edit') Edit Answer
                    button: a(href='questions/#{question.id}/answers/#{answer.id}/delete') Delete Answer
    div
        p Your Answer
        form(action='')
            +textarea('Body', 'body', body)
            button New Answer
