extends layout.pug

include utils.pug

block styles
    script(src="/javascripts/questions.js" type="module" defer)
    link(rel="stylesheet" href="/stylesheets/questions.css")

block content
    div(id='q-head')
        h1 Questions
        button: a(href='/questions/new') Ask question
    div
        ul
            each question in questions
                li
                    div(id='')
                        unless question.Answers.length ===  1
                            p #{question.Answers.length} answers
                        else
                            p #{question.Answers.length} answer

                        h2: a(href= `/questions/${question.id}`) #{question.title}
                        div
                            p tag
                        p #{question.User.userName}: Posted on #{question.createdAt.toDateString()}

        //- add button to add new question
        //- add button to add new answer
        //- add button to delete question (if owned)
        //- add button to delete answer (if owned)
        //- add button to edit question (if owned)
        //- add button to edit answer (if owned)
        //- add button to upvote question (if not owned)
        //- add button to upvote answer (if not owned)
        //- add button to downvote question (if not owned)
        //- add button to downvote answer (if not owned)
