extends layout.pug

block append styles
    script(async src='/javascripts/index' type='module')


block content
    if questions.length > 0
        div(id='q-head')
            h1 Search results for #{queryTerm}
        div
            ul
                each question in questions
                    li
                        div(class='q-card')
                            div(class='a-display')
                                unless question.Answers.length ===  1
                                    p #{question.Answers.length} answers
                                else
                                    p #{question.Answers.length} answer

                            div(class='q-card-body')
                                h2: a(href= `/questions/${question.id}`) #{question.title}
                                p Asked by #{question.User.userName} on #{question.createdAt.toDateString()}
    else
        h2 Sorry!
        h3 Your search returned no results...
        p
            | Others may have questions about the snack you're
            #[br]
            | searching for, though! So, #[a(href='questions/new') Click here] to
            #[br]
            | ask a question and add to our craving collection
            #[br]
            | or #[a(href='/questions') Click here] to go back to our main page.
