extends layout.pug

append styles
    //- script(src='/javascripts/search' type='module' defer)

block content
    div(id='q-head')
        h1 Search results for
            unless rawQuery.includes('%20')
                h2= `"${rawQuery}"`
            else
                h2= `"${spacedQuery}"`
    div
        ul
            each question in results
                li
                    div(class='q-card')
                        div(class='a-display')
                            unless question.Answers.length ===  1
                                p #{question.Answers.length} answers
                            else
                                p #{question.Answers.length} answer

                        div(class='q-card-body')
                            h2: a(href= `/questions/${result.id}`) #{result.title}
                            p Asked by #{result.User.userName} on #{result.createdAt.toDateString()}
