mixin field(labelName, fieldName, fieldValue, fieldType)
    .form-field
        label(for=fieldName)= labelName
        input(type=fieldType name=fieldName value=fieldValue)

mixin validationErrorSummary(errors)
    if errors
        p The following error(s) have occurred
        ul
            each error in errors
                li= error

mixin field2(labelName, fieldName, fieldValue, fieldType)
    div
        label(for=fieldName)= labelName
    .form-field
        input(type=fieldType name=fieldName value=fieldValue style="width: 318px")

mixin textarea(labelName, fieldName, fieldValue)
    .form-field
        label(for=fieldName) #{labelName}
        textarea(name=fieldName style="width: 327px; height: 168px;") #{fieldValue}

mixin select(labelName, fieldName, fieldValue, fieldType)
    div
        label(for=fieldName)= labelName
    div
        select(name=fieldName)
            //- each tag in tags
                option(value='#{tag.name}')


mixin fieldCSS1(labelName, fieldName, fieldValue, fieldType, idValueLabel, idValueInput)
    .form-field
        label(id=idValueLabel for=fieldName)= labelName
        input(type=fieldType name=fieldName value=fieldValue id=idValueInput)
