mixin field(labelName, fieldName, fieldValue, fieldType)
    div
        label(for=fieldName)= labelName
        input(type=fieldType name=fieldName value=fieldValue)

mixin validationErrorSummary(errors)
    if errors
        p The following error(s) have occurred
        ul
            each error in errors
                li= error

mixin textarea(labelName, fieldName, fieldValue)
    div
        label(for=fieldName) #{labelName}
        textarea(name=fieldName value=fieldValue)
